<h4>
    Azure Cosmos Db
</h4>

<form method="post">
    <button class="btn btn-danger" name="accion" value="start">
        Generar Recursos Cosmos Db
    </button>
</form>

<h4>
    @ViewData["MENSAJE"]
</h4>